certifi==2025.1.31
charset-normalizer==3.4.1
faiss-cpu==1.10.0
idna==3.10
numpy==2.2.5
packaging==25.0
PyPDF2==3.0.1
requests==2.32.3
urllib3==2.4.0
python-dotenv==1.1.0
alembic==1.15.2
asyncpg==0.30.0